$main-font: 'Oswald', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$navbar-color: #e91e63;
$secondary-color: #0D87B8;
$shadow: 0 1px 3px rgba(0,0,0,0.5);
$box-bg: #1C2032;

.portfolio_table{
  margin-bottom: 0;
  border:1px solid #151928;
  border-radius:5px;

  thead{

    tr{
      background:$secondary-color;
      font-family:$main-font;
      letter-spacing: 1px;
      text-transform:uppercase;

      th{
        text-align:center;
        border:1px solid $secondary-color;
      }
    }
  }

  tbody{
    td{
      text-align: center;
      color:#151928;
      background: #fff;
    }
  }
}

.dashboard_search{

  form{
    box-shadow: none!important;
    color:#151928;
    margin-top: 0!important;
    padding: 0!important;

    button{
      top:0!important;
      right:15px!important;
    }
  }
}



