// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'navbar';
@import 'sidebar';
@import 'modal';
@import 'alerts';
@import 'stockIndex';

$main-font: 'Oswald', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$navbar-color: #e91e63;
$secondary-color: #0D87B8;
$shadow: 0 1px 3px rgba(0,0,0,0.5);
$box-bg: #1C2032;

*, *:before, *:after{
  margin:0;
  padding:0;
}

body{
  font-family: $main-font;
  background: #151928;
}

h2{
  font-family: $secondary-font;
}

ul{
  list-style: none;
}

a, a:hover{
 text-decoration:none;
}

input:focus, input:outline{
    outline: none!important;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.margin-bottom-20{
  margin-bottom:20px;
}

.margin-top-20{
  margin-top:20px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

button:focus {outline:0;}

/*************** home page ************/

.after_login_page{
  position:absolute;
  top:15%;
  left:0;

  p{
    font-family:$secondary-font;
    color:#fff;
    padding:2%;
    margin-bottom: 30px;
  }

  a.view_portfolio{
    border:3px solid #fff;
    color:#fff!important;
    font-size:1em;
    text-transform: uppercase;
    padding:10px 20px;
    font-family:$main-font!important;
    letter-spacing: 1px;
    font-size:2.3em;
  }

  a:hover{
    background:#1C2032!important;;
    border: 2px solid #1C2032;
    color:#fff!important;
    opacity:1!important;
    transform:scale(1.1);
    transition:all .3s;
  }
}

.home_bg{
  position:relative;

  h1{
    position:absolute;
    top:0;
    left: 20px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    // transform: translateX(-50%);
    z-index:999;
    background:$navbar-color;
    color:#fff;
    padding:20px 25px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    margin: 0;


    span{
      font-size: .45em!important;
      font-family: "Montserrat", sans-serif!important;
      color: rgba(255, 255, 255, 0.5)!important;
      text-align: center!important;
      text-shadow: none!important;
      display:block;
      margin-top: 3px;
    }

    img{
      width: 35px;
      height: 35px;
      margin-top: -15px;
    }
  }
}

.footer_only_homepage{
  position:absolute;
  bottom:20px;
  left:30%;

  p{
    color:rgba(255,255,255,.6);
    font-size:.8em;
    font-family: $secondary-font;
  }
}

.search_box_area{

  h2{
    font-weight:700;
    font-size:3em;
    color:#fff;
    font-family: $main-font;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-transform:uppercase;
  }

  form{
    background: #1C2032;
    border-radius:5px;
    padding:20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    position:relative;
    margin-top:20px;

    input[type="text"]{
      border:none!important;
      padding: 10px 50px 10px 10px;
      font-size: 1.3em;
      border-radius: 2px;
      width: 100%;
    }

    button{
      position:absolute;
      right: 34px;
      top: 18px;
      background: none!important;
      border: none;
      font-size: 2em;
    }
  }
}

.stock_info_box{
  background: #1C2032;
  padding:0;
  border-radius:5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-top:20px;
  z-index:100;

  ul{
    li{
      border-bottom:1px solid rgba(255,255,255,.3);
      clear:both;
      overflow:hidden;
      color:#fff;
      padding:5px;


      h4{
        margin-top:10px;
      }

      span{
        letter-spacing: 1px;
        font-weight:300;
        font-size:.9em;
        color:$secondary-color;
      }


      .col-md-8{
        font-family: $secondary-font;

        a{
          color: $navbar-color;
        }

        a:hover{
          text-decoration: underline;
        }
      }
    }

    li:first-child{
      background:#151928;
    }

    li:last-child{
      border-bottom:none!important;
    }
  }
}



/******* MAIN CONTENT *****/

main{
  color:#fff;
  font-family: $secondary-font;

  .box{
    box-shadow: 0 2px 6px rgba(0,0,0,.12);
    background-color: $box-bg!important;
    padding:1.1em;
    margin-bottom: 20px;

    h4{
      margin-bottom: 20px;
      margin-top: 5px;
      color:rgba(255,255,255,.3);
      letter-spacing: 1px;
      font-weight:bold;
      text-transform:uppercase;
    }

    input{
      height:45px;
      font-size:1.2em;
    }
  }

  .row{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom:25px;
  }

  p{
    margin-bottom:0;
  }

}

.home_bg{
  background:url(asset_path("home4.jpg"));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:top center;

  .info_section{
    background:url(asset_path("pattern2.png")) ;
    height:100vh
  }
}

.homepage_login_search{
  position:absolute;
  bottom:40px;
  right:50px;
  z-index:100;

}

.highcharts-credits{
  display:none;
}

.editing_links{
  background:$navbar-color;
  padding:15px;

  a{
    color:rgba(255,255,255,.6);
    border:1px solid rgba(255,255,255,.6);
    margin-right:20px;
    padding: 8px 10px !important;
  }

  a:hover{
    color:#fff;
    border:1px solid #fff;
  }
}


.dashboard_table{
  td.padding_row{
    padding:8px;
  }

  td.no_padding_row{
    padding:0!important;

    a{
      padding: 8px;
      display:block;
    }

    a:hover{
      text-decoration:underline;
      color:#151928;
    }

    a.icons{
      display:inline;
      line-height:36px;
      font-size: 1.2em;
      padding: 0!important;
      text-align:center;
      transition:all .3s;
    }

    a.icons:hover{
      text-decoration: none;
      font-size:1.3em;
      transition:all .3s;
    }

    a.icons:first-child{
      margin-right: 10px;
    }

    a.icons:last-child{
      color:tomato;
    }

    a.icons:last-child:hover{
      color: red;
    }
  }
}



